@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$font-default: 'Roboto', sans-serif;
$verde: #027000;
$amarillo: rgb(239, 239, 5);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: $font-default;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.25rem;
}

.contenedor--nombre--restaurante {
 p {
  color: $verde;
  font-size: 1.25rem; 
  span {
    color: $amarillo;
    font-size: 1.25rem; 
  }
 }
}

svg {
  height: 25px;
}

.contenedor--login {
  &__enlace--login {
    color: $verde;
  }
  svg {
    margin-top: 5px;
  }
}


.hero {
  display: flex;
  img {
    width: 100%;
    position: absolute;
  }
  &__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 1rem;
    left: 0;
    height: 30vh;
    h1 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      font-weight: bold;
      font-size: 1.25rem;
    }
    &__botones {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      &__boton {
        color: white;
        background-color: $verde;
        border-radius: 25px;
        padding: 0.25rem 0.75rem;
        font-size: small;
      }
    }
  }
}
